.calculator {
    border: solid 3px;
    height: auto;
    width: 30em;
    margin: 100px;
    margin-left: 300px

    
}

.numbers {
    width: 20%;
    position:relative;
    background-color: grey;
}
.operator {
    width:20%;
    position:relative;
    background-color: orange;
}
.function{
    width: 20%;
    position:relative;
    background-color: blue;
}
.form-group{
    width: 20%;
    margin:5px;
}
.zero{
    width:40.85%;
    background-color: grey;
    position:relative;
}