.calculator {
    border: solid 3px;
    height: auto;
    /*width: 30em;*/
    margin: 100px;
    margin-left: 300px

    
}

.numbers {
    /*width: 25%;*/
    position:relative;
    background-color: grey;
}
.operator {
    /*width: 25%;*/
    position:relative;
    background-color: orange;
}
.function{
    /*width: 25%;*/
    position:relative;
    background-color: red;
}

.zero{
    /*width:40.85%;*/
    background-color: grey;
    position:relative;
}

.clickers {
    margin: 0;
    border: 0;
}