#blue {
    background-color: blue;
    
}
#green {
    background-color: green;
   
}
#red {
    background-color: red;

}
#start {
    background-color: dodgerblue;

}
#yellow {
    background-color: yellow;
  
}



